.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  .imageContainer {
    overflow: hidden;
    border-radius: 0.2rem;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    overflow: hidden;
    padding: 0 1rem;

    h2 {
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .inStock {
      color: green;
    }

    .price {
      font-weight: 600;
      font-size: 1.2rem;
    }

    .outOfStock {
      color: red;
      font-weight: 500;
    }

    .deleteContainer {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .quantity {
        display: grid;
        grid-template-columns: 1.4rem 1.2rem 1.4rem;
        gap: 0.4rem;
        width: fit-content;
        border: 2px solid #ccc;
        border-radius: 0.6rem;

        input {
          border: none;
          text-align: center;
          font-weight: 500;
          width: 100%;
          height: 100%;
          background-color: transparent;
          outline: none;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            cursor: pointer;
            background-color: #ccc;
          }
        }
      }

      .delete {
        color: rgb(90, 90, 90);
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.9rem;
        }

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 3fr;

    .info {
      padding: 0;
    }
  }
}
