.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  .cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (min-width: 800px) {
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
  }
}
