.container {
  position: relative;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;

    .profileImage {
      height: 2.2rem;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      display: none;

      @media screen and (min-width: 1024px) {
        margin: 0 0.4rem 0 0.8rem;
        display: block;
        font-size: 1rem;
        color: #000;
        font-weight: 500;
      }
    }

    .arrowDown {
      display: none;
      transition: all 0.2s ease-in-out;

      @media screen and (min-width: 1024px) {
        display: block;
        font-weight: 900;
        color: #000;
      }
    }

    .arrowUp {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
        font-weight: 900;
        color: #000;
        transform: rotate(180deg);
      }
    }
  }

  .profileModal {
    position: absolute;
    width: 100%;
    right: 0;
    min-width: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    div,
    button {
      width: 100%;
      color: rgb(0, 0, 0);
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1rem 0;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #cfcfcf;
      }
    }
  }

  .openModal {
    opacity: 1;
    pointer-events: auto;
    top: -140px;

    @media screen and (min-width: 600px) {
      top: 100%;
    }
  }
}
