.container {
  .headerContainer {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }

  .navbarContainer {
    z-index: 999;
  }

  .content {
    padding: 1rem;
  }

  main {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 240px 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'sidebar header'
        'sidebar content';

      .navbarContainer {
        grid-area: sidebar;
      }

      .headerContainer {
        grid-area: header;
        position: relative;
      }

      .content {
        grid-area: content;
        padding: 2rem 3rem;
      }
    }
  }
}
