.container {
  width: 100%;
  background-color: #fff;
  border-radius: 0.4rem;
  background-color: rgb(236, 236, 236);
  padding-bottom: 1rem;

  .imageContainer {
    position: relative;
    width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    aspect-ratio: 16 / 9;

    .image {
      object-fit: cover;
    }
  }

  .contentContainer {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-weight: 700;
    }

    .price {
      font-weight: 700;
    }
  }

  .description {
    padding: 0 1rem 1rem;
    overflow: hidden;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #acacac;
      margin-bottom: 0.4rem;
    }
  }
}
