.container {
  @media screen and (min-width: 800px) {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'image details'
      'image payment'
      'questions .'
      'reviews .';
  }

  .imageContainer {
    grid-area: image;
    position: relative;
    aspect-ratio: 12 / 8;

    .image {
      object-fit: cover;
    }
  }

  .infoContainer {
    grid-area: details;

    .title {
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .ratingOverview {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .starContainer {
        display: flex;
      }

      .divider {
        margin: 0 0.4rem;
        width: 2px;
        height: 1rem;
        background-color: #000;
      }

      a {
        color: #1f61b5;
      }
    }

    .price {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      align-items: center;

      span {
        font-size: 1rem;
      }
    }

    .stockContainer {
      margin-bottom: 1rem;
      .stock {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        p {
          font-weight: 600;
          font-size: 1.1rem;
        }
      }
    }

    .shippingContainer {
      margin: 0.4rem 0;
      display: flex;
      .shipping {
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
        font-size: 0.9rem;
      }

      .freeShipping {
        background-color: #1f61b5;
        color: white;
      }
    }

    .description {
      color: #212121;
    }
  }
  .payment {
    margin: 2rem 0;
    grid-area: payment;
    border: 1px solid rgb(219, 219, 219);
    padding: 1rem;
    border-radius: 0.2rem;

    @media screen and (min-width: 700px) {
    }

    .totalAmount {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      align-items: center;

      span {
        font-size: 1rem;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      padding: 1rem 0;

      @media screen and (min-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .quantity {
        display: grid;
        grid-template-columns: 2rem 1.2rem;
        grid-template-rows: 1rem 1rem;
        grid-template-areas:
          'input minus'
          'input plus';
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 0.2rem;
        overflow: hidden;
        align-items: center;

        input {
          height: 100%;
          padding-left: 0.6rem;
          grid-area: input;
          outline: none;
          border-right: 1px solid rgba(0, 0, 0, 0.4);
          background-color: #fff;

          &:disabled {
            cursor: default;
          }
        }

        button {
          cursor: pointer;
          background-color: #fff;
          font-size: 0.8rem;
          font-weight: 600;

          &:disabled {
            cursor: default;
          }
        }

        .minus {
          grid-area: minus;
        }

        .plus {
          grid-area: plus;
        }
      }

      .alreadyInCart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        color: green;
        border: 1px solid green;
        border-radius: 0.3rem;
        max-width: 300px;
        padding: 0.7rem;
        background-color: #fff;

        span {
          font-size: 1rem;
        }
      }

      .addToCart {
        max-width: 300px;
        background-color: #1f61b5;
        color: white;
        border-radius: 0.3rem;
        padding: 0.7rem;
        box-shadow: rgba(34, 219, 17, 0.2) 0px 8px 24px;
      }
    }

    .favoritesContainer {
      margin: 1rem 0;
      .favorites {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;

        span {
          font-size: 0.9rem;
        }

        &:hover {
          cursor: pointer;
          color: #1f61b5;
        }
      }
    }
  }

  .questions {
    grid-area: questions;
  }

  .reviews {
    grid-area: reviews;

    .createReviewButton {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 2rem 0;
      border-top: 1px solid #ccc;

      h2 {
        font-size: clamp(1rem, 1rem + 2vw, 1.4rem);
        font-weight: 600;
      }

      p {
        font-size: clamp(0.8rem, 0.7rem + 2vw, 1rem);
      }

      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.4rem 1rem;
        font-size: clamp(0.8rem, 0.7rem + 2vw, 1rem);
        border: 1px solid rgb(212, 212, 212);
        background-color: #fff;
        border-radius: 0.6rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
        cursor: pointer;

        &:hover {
          background-color: rgb(224, 224, 224);
        }
      }
    }
  }
}
