.container {
  @media screen and (min-width: 700px) {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      'image details'
      'image payment';
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 2fr 2fr 280px;
    grid-template-areas: 'image details payment';
  }

  .imageContainer {
    grid-area: image;
    position: relative;
    width: 100%;
    aspect-ratio: 12 / 10;

    @media screen and (min-width: 700px) {
      margin-left: 1rem;
    }

    .image {
      object-fit: cover;
    }
  }

  .infoContainer {
    grid-area: details;
    padding: 1rem;

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .shipping {
        background-color: #59ce8f;
        color: white;
        border-radius: 0.3rem;
        padding: 0.2rem 0.4rem;
        font-size: 0.7rem;
      }

      .favorites {
        color: #ccc;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .title {
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .description {
      color: rgb(134, 131, 131);
    }

    .price {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }
  .payment {
    grid-area: payment;
    padding: 1rem;

    @media screen and (min-width: 700px) {
    }
    p {
      color: #59ce8f;
      font-weight: 600;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
      padding: 1rem 0;

      @media screen and (min-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;

        span {
          width: 20px;
          font-size: 1.2rem;
          text-align: center;
        }

        button {
          border: none;
          background-color: #59ce8f;
          color: white;
          padding: 0.3rem;
          border-radius: 0.4rem;
          font-size: 0.8rem;
          cursor: pointer;
          box-shadow: rgba(34, 219, 17, 0.2) 0px 8px 24px;
        }

        .minus {
          border: 1px solid #59ce8f;
          background-color: #fff;
          color: #59ce8f;
        }
      }

      .addToCart {
        width: 100%;
        max-width: 300px;
        background-color: #59ce8f;
        color: white;
        border-radius: 0.3rem;
        padding: 0.7rem;
        font-weight: bold;
        font-size: 0.9rem;
        box-shadow: rgba(34, 219, 17, 0.2) 0px 8px 24px;
      }
    }
  }
}
