.container {
  .questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .question {
      .grid {
        margin-bottom: 0.2rem;
        display: grid;
        grid-template-columns: 100px 1fr;
      }

      .questionInfo {
        display: flex;
        flex-direction: column;
        span {
          color: #0071a5;
          cursor: pointer;
        }
      }

      p {
        font-size: 12px;
      }
      .grid {
        display: grid;
        grid-template-columns: 100px 1fr;

        .answers {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
        }
      }
    }
  }
}
