.container {
  background-color: rgb(240, 242, 242);
  padding: 1rem;
  margin: 2rem 0 5rem;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    input {
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      border: 1px solid rgb(104, 104, 104);
    }

    button {
      padding: 0.5rem;
      border: none;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      font-weight: 600;
      cursor: pointer;
    }
  }
}
