.container {
  h2 {
    font-size: clamp(1rem, 1rem + 2vw, 1.4rem);

    font-weight: 600;
    color: #323357;
  }

  .searchQuestion {
    margin: 1rem 0;
    input {
      width: 100%;
      height: 2.5rem;
      border: 1px solid #b9b9b9;
      border-radius: 0.5rem;
      padding: 0 1rem;
      font-size: 1rem;
      color: #323357;
    }
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .question {
      .grid {
        margin-bottom: 0.8rem;
        display: grid;
        grid-template-columns: 100px 1fr;

        .questionLabel {
          font-size: 1rem;
          font-weight: 600;
          color: #0f0f11;
        }
      }

      .questionInfo {
        display: flex;
        flex-direction: column;
        span {
          color: #0071a5;
          width: fit-content;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: #005a8b;
          }
        }
      }

      p {
        font-size: 12px;
      }
      .grid {
        display: grid;
        grid-template-columns: 100px 1fr;

        .answerLabel {
          font-size: 1rem;
          font-weight: 600;
          color: #0f0f11;
        }

        .answers {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
        }
      }
    }
  }
}
