.container {
  h2 {
    font-size: clamp(1rem, 1rem + 2vw, 1.4rem);

    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #323357;
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .question {
      .grid {
        margin-bottom: 0.2rem;
        display: grid;
        grid-template-columns: 100px 1fr;
      }

      .questionInfo {
        display: flex;
        flex-direction: column;
        span {
          color: #0071a5;
          width: fit-content;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: #005a8b;
          }
        }
      }

      p {
        font-size: 12px;
      }
      .grid {
        display: grid;
        grid-template-columns: 100px 1fr;

        .answers {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
        }
      }
    }
  }
}
