.container {
  text-align: center;

  h2 {
    font-size: clamp(1rem, 1rem + 2vw, 1.4rem);

    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #323357;
  }

  .average {
    margin-bottom: 2rem;

    .averageRating {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;

      .rating {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #f5f8ff;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        justify-content: space-between;
        max-width: 300px;
        p {
          font-size: 0.8rem;
          color: #4b4d6c;
        }

        .starRating {
          display: flex;

          .star {
            width: clamp(1rem, 1rem + 2vw, 1.8rem);
            height: clamp(1rem, 1rem + 2vw, 1.8rem);
          }
        }
      }

      .customerCount {
        font-size: 0.8rem;
        color: #a1a2af;
      }
    }
  }
  .question {
    color: #5f84e3;
    margin-top: 2rem;
  }
}
