.container {
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      label {
        font-size: 1.2rem;
        font-weight: 600;
      }

      input {
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 0.4rem;
      }

      .inputError {
        color: red;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.8rem 1.2rem;
      border: none;
      border-radius: 0.4rem;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      background-color: aqua;

      &:hover {
        background-color: #56dada;
      }

      &:active {
        background-color: #00b8b8;
      }
    }
  }
}
