.container {
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .products {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
